@media only screen and (max-width: 700px) {

    .Pages.display .header {
		/*display: none;*/
	}

	#header_task_bar{
		display: none;
	}
	#main-menu-toggle{
		display: none;
	}

	.page-contents{
		background: url("../img/Gambar-Pemandangan.jpg") no-repeat center center fixed; 
		background-color: none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
  }

