.title-petani {
	color: #fff !Important;
	font-weight: bold;
}

.back-petani .mdl-layout-title {
	background: url('images/bg-card.jpg');
	background-size: cover;
}

.text-petani {
	color: #323232;
	line-height: 20px !Important;
	padding: 50px;
	text-align: center;
}

.profile-petani {
	width:60px;
	border-radius: 100%;
	border:3px solid white;
	margin-bottom: 10px;
}

.admin-petani {
	text-align: left !Important;
}

.link-petani {
	padding: 10px 40px !Important;
	color: #323232 !Important;
}

.link-petani:hover {
	border-right:4px solid #E53935; 
	background: rgba(229,57,33,0.5) !Important;
	color: white !Important;
}