<?php
/* @var $this \Cake\View\View */
$this->Html->css('BootstrapUI.signin', ['block' => true]);
$this->Html->css('bootstrap/signin',['block'=>true]);
$this->prepend('tb_body_attrs', ' class="' . implode(' ', [$this->request->controller, $this->request->action]) . '" ');
$this->start('tb_body_start');
/**
 * Default `flash` block.
 */
if (!$this->fetch('tb_flash')) {
    $this->start('tb_flash');
    if (isset($this->Flash))
        echo $this->Flash->render();
    $this->end();
}
?>
<body <?= $this->fetch('tb_body_attrs') ?>>
    <div class="container">
<?php
$this->end();

$this->start('tb_body_end');
echo '</body>';
$this->end();

$this->start('tb_footer');
echo ' ';
$this->end();

$this->append('content', '</div>');
echo $this->fetch('content');
