body {
    padding-top: 0px;
}

.android-content {
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

#secondNav .nav-pills > li > a {
    /*border-radius: 5px;*/
    border: 1px solid;
    margin: 0 5px 5px 0;
}

#secondNav {
    margin:0 0 20px 0;
}