html {
    background: url(../../img/Gambar-Pemandangan-Sawah-yang-Indah-13.jpg) no-repeat center;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/

}

body.Users.login {
    background: none;
}

form.form-signin {
    background: #92DE2A;
    border-radius: 5px;
    color: white;
}

form.form-signin legend {
    color: white;
}